<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0; /* Remove default margin */
            padding: 0; /* Remove default padding */
        }
        header {
            position: fixed; /* Fix the header position */
            top: 0; /* Position at the top of the viewport */
            width: 100%; /* Make the header full width */
            background: #004444;
            color: white;
            padding: 10px 0; /* Adjust top and bottom padding */
            text-align: center;
            z-index: 2; /* Ensure the header is above other content */
        }
        header h1 a {
            color: white; /* Change title color to white */
            text-decoration: none;
            padding-top: 10px;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            background: #006666;
            position: relative; /* Ensure nav stays below header */
            top: 50px; /* Adjust to position nav below header */
            z-index: 1; /* Ensure nav is above other content */
        }
        nav ul li {
            margin: 0 15px;
        }
        nav ul li a {
            color: white;
            text-decoration: none;
            padding: 15px 20px;
            display: block;
        }
        nav ul li a:hover {
            background: #66cccc;
        }
        .wrapper {
            width: 80%; 
            max-width: 1200px; 
            margin: 120px auto 0; /* Adjust margin to make room for fixed header and nav */
            padding: 0px;
